.header-container {
    height: 128px;
}

.header {
    position: fixed;
    z-index: 1030;
    width: 100%;

    top: 0;
    left: 0;


    .nav-wrapper {
        position: relative;
        height: 100%;
        z-index: 2;
    }


    .nav-container {
        width: min(100%, 1600px);
        position: unset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;


        .nav-header-wrapper {
            margin-top: 0;
            display: block;

            .nav-header {
                .nav-link {
                    display: flex !important;
                    text-decoration: none;
                    margin-right: 25px;

                    .sr-only {
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        margin: -1px;
                        padding: 0;
                        overflow: hidden;
                        clip: rect(0, 0, 0, 0);
                        border: 0;
                    }

                    .nav-logo {
                        position: relative;
                        display: inline-flex;
                        width: 82px;
                        height: 22.5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .nav-container {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}