@import 'colors';
@import 'variables';

@font-face {
    font-family: "Neue Montreal";
    src: url('/app/assets/neue-montreal-regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Neue Montreal";
    src: url('/app/assets/neue-montreal-medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Rza";
    src: url('/app/assets/rza-regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}


*, ::after, ::before {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: "Neue Montreal","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.428571429;
    letter-spacing: 0.02em;
    background-color: #fff;
    color: #001e00;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit
}

button {
    color: inherit;
    cursor: pointer
}

label {
    display: inline-block
}

a {
    color: $text-link;
    font-weight: 500;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: color .1s ease-in-out
}